.black-style {
  color: #797e83;
  background-color: #3b4148;
}
.item-height {
  height: 50px;
  line-height: 50px;
}
.title-style {
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 0;
  color: white;
  background-color: $title-bgc;
}

@import "blocks/register-form/_register-form";
@import "blocks/preloader/_preloader";
@import "blocks/section/_section";
@import "blocks/company-total/_company-total";
@import "blocks/company-list/_company-list";
@import "blocks/company-location/_company-location";
@import "blocks/company-canvas/_company-canvas";
@import "blocks/news/news.scss";
