$default-font: Roboto, serif;
$accent: #ffc952;

//colors
$text: #333;
$border-circle: #636363;

//background-colors
$title-bgc: #47b8e0;
$value-bgc: #ee4642;
$body-bgc: #34314c;
$section-bgc: #d9d9d9;
$list-bgc: #eee;


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
