@import "blocks/register-form/register-form";
@import "blocks/preloader/preloader";

section[id ^= 'company-'] {
  position: relative;
  height: 250px;

  margin: 20px 1px;

  border: 1px solid #ccc;
  border-radius: 3px;
}

.section__title {
  background-color: #ccc;
  text-align: center;
  border-radius: 3px;
}

.company-count {
  border: 1px solid #ccc;
  border-radius: 50%;

}
