@import "vars";
@import "helpers";
@import "libs";
@import "fonts";
@import "blocks";

body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden;

  font-size: 16px;
  font-family: $default-font;
  line-height: 1.65;

  color: $text;
  background-color: #2c3338;
}


