.company-list {
  &__scrollbox {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
  }
  p {
    margin: 0;
    padding-left: 5%;

    a {
      display: block;
      color: $text;
      text-decoration: none;
      cursor: pointer;
    }

    &:hover {
      background-color: $accent;
    }
  }

  &_bgc {
    background-color: $list-bgc;
  }
}
