.company-list {
  &__scrollbox {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 auto;
  }
  p {
    margin: 0;
    padding-left: 5%;
    &:hover {
      background-color: $accent;
    }
  }
  p a {
    display: block;
    color: $text;
    text-decoration: none;
    cursor: pointer;
  }

  &_bgc {
    background-color: $list-bgc;
  }

}
