doctype
html
    head
        title Register
        meta(charset="utf-8")
        meta(name="description" content="CodeIT")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel ='stylesheet', href = 'app/css/main.min.css')
    body
        .container
            .row
                section.col-6
                    h3.section__title.text-center Total Companies
                    .section-loader-circle
                section.col-6
                    h3.section__title.text-center List of Companies
                    .section-loader-circle
            .row
                section.col-6
                    h3.section__title.text-center Companies by Location
                    .section-loader-circle
                section.col-6.news
                    h3.section__title.text-center News
                    .section-loader-circle

        script(src = 'app/js/scripts.min.js')
