doctype
html
    head
        title Register
        meta(charset="utf-8")
        meta(name="description" content="CodeIT")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel ='stylesheet', href = 'app/css/main.min.css')
    body
        .container
            .row
                section.companies__total
                    .preloader
                        .section-loader-circle
                section.companies__total
                    .preloader
                        .section-loader-circle
                section.companies__location
                    .preloader
                        .section-loader-circle
                section.news
                    .preloader
                        .section-loader-circle
