doctype
html
    head
        title Register
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src = './app/js/scripts.min.js')
        link(rel ='stylesheet', href = './app/css/main.min.css')
    body
        .container
            .row.justify-content-md-center
                form#register-form.col-6.d-flex.flex-column
                    h2.register-form__title
                    input#first-name.register-form__input(placeholder = 'Input your name')
                    input#second-name.register-form__input(placeholder = 'Input your second name')
                    input#email.register-form__input(type = 'email', placeholder = 'Input your email')
                    select#gender.register-form__input_dropdown
                        option(value = 'Male') Male
                        option(value = 'Female') Female
                    input#password.register-form__input(type = 'password', placeholder = 'Input your password')
                    p
                        label AG
                            input#agreement.register-from__input_checkbox(type = 'checkbox', value = 'unchecked')
                    input#send.register-form__input_button(type = 'button', value = 'send')